@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:ital,wght@0,500;0,700;1,400&display=swap");
body, html {
    height: 100%;
    margin: 0;
    font-family: "Poppins";
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #3a32db, rgb(20, 20, 77));
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-box, .infobox {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
    margin: 0 40px
}
.textbox {
    margin: 10px 0;
}

.textbox input {
    width: 90%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #6d67e4;
    background: transparent;
    outline: none;
    color: black   ;
    font-size: 18px;
}

.btn {
    width: 100%;
    background: #6d67e4;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    transition: background 0.3s;
}

.btn:hover {
    background: #453dda;
}

.error-message {
    color: red;
    margin-top: 10px;
}